body {
  background-color: #fafafa;
}

ol.conversations {
  list-style: none;
  padding: 0;
  margin: 7px;
  width: 600px;
}

.column {
  display: inline-block;
  vertical-align: top;
}
.column.left {
  width: 150px;
}
.column.right {
/*  full width (- .left) + ( - conversation paddings) */
  width: 424px;
}

.avatar,
.column.left .from {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.avatar {
  width: 24px;
  height: 24px;
  background-color: #666;
}

.column.left .from {
  color: #666;
  width: 120px;
}

.conversation {
  border-right: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  padding: 3px 10px 10px 10px;
}

.conversation:last-child {
  border-bottom: 1px solid #CCCCCC;
}

.conversation[read=false] {
  background-color: #fff;
}
.conversation[read=true] {
  background-color: #F2F2F2;
}

.conversation[read=true] .from,
.conversation[read=true] .topic > .subject,
.conversation[read=true] .topic > .body {
  color: #666666;
  white-space: nowrap;
  overflow: hidden;
}

.conversation[read=true] .replies {
  display: none;
}

.conversation .topic {
  position: relative;
  cursor: pointer;
}

.conversation .topic > .actions {
  position: absolute;
  right: 0;
}

.conversation .topic > .actions,
.conversation .topic > .date {
  color: #888;
}

.conversation .topic > .actions > .action:hover {
  text-decoration: underline;
}

.conversation .topic > .actions > .action.delete:hover {
  text-decoration: none;
  background-color: red;
  color: white;
}

.conversation .topic > .subject {
  font-weight: bold;
  font-size: 14px;
}

.conversation .topic > .body {
  overflow: hidden;
}

.conversation .replies {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  cursor: pointer;
}

.conversation .replies > .reply {
  background-color: rgba(204, 204, 204, 0.35);
  color: #666666;
  margin: 2px 0 0 0;
  padding: 5px;
  position:relative;
}

.conversation .replies > .reply > .from {
  color: #111;
}

.conversation .replies > .reply > .body {
  overflow: hidden;
}

.conversation .replies > .reply > .date {
  text-align: left;
}
