body {
  background-color: #fafafa;
}

ol.conversations {
  list-style: none;
  padding: 0;
  margin: 0;
/* XXX there's an extra 1px somewhere... */
  width: 601px;
}

.column {
  display: inline-block;
  vertical-align: top;
}
.column.left {
  width: 170px;
}
.column.right {
/*  full width (- .left) + ( - conversation paddings) */
  width: 405px;
}

.avatar,
.column.left .from {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.avatar {
  width: 24px;
  height: 24px;
  background-color: #666;
}

.column.left .from {
  color: #666;
  width: 140px;
}

.conversation {
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 10px;
}

.conversation:last-child {
  border-bottom: 1px solid #ddd;
}

.conversation[read=false] {
  background-color: #fff;
}
.conversation[read=true] {
  background-color: #F2F2F2;
}

.conversation[read=true] .from,
.conversation[read=true] .topic > .subject,
.conversation[read=true] .topic > .body {
  color: #888;
  white-space: nowrap;
  overflow: hidden;
}

.conversation[read=true] .replies {
  display: none;
}

.conversation .topic[read=true] {
  color: #888;
  white-space: nowrap;
  overflow: hidden;
}

.conversation .topic {
  font-size: 12px;
  position: relative;
  cursor: pointer;
}

.conversation .topic > .actions {
  position: absolute;
  right: 0;
}

.conversation .topic > .actions,
.conversation .topic > .date {
  color: #888;
  text-transform: lowercase;
}

.conversation .topic > .actions > .action:hover {
  text-decoration: underline;
}

.conversation .topic > .actions > .action.delete:hover {
  text-decoration: none;
  background-color: red;
  color: white;
}

.conversation .topic > .subject {
  font-weight: bold;
  font-size: 14px;
  color: #5180D0;
}

.conversation .topic > .body {
  overflow: hidden;
}

.conversation .body:after {
  /* ellipsis &#8230; */
  content: "\2026";
}

.conversation .replies {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  cursor: pointer;
}

.conversation .replies > .reply {
  border: 1px solid #ddd;
  background-color: #fafafa;
  color: #333;
  margin: 3px 0 0;
  padding: 5px;
  position:relative;
  line-height: 1.5;
}

.conversation .replies > .reply > .from {
  color: #111;
  font-weight: bold;
  display: inline;
}

.conversation .replies > .reply > .body {
  line-height: 1.5;
  overflow: hidden;
}

.conversation .replies > .reply > .date {
  text-align: left;
  color: #888;
  display: inline;
}
