@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

tabbrowser#tabmail {
  -moz-binding: url("chrome://messenger/content/tabmail.xml#tabmail");
}

/* we need to dig into the all tabs button to make it line up */
tabbrowser#tabmail .tabmail-tabs > .tabs-stack > vbox > hbox {
  -moz-box-orient: vertical;
}

tabbrowser#tabmail .tabmail-tabs .tabmail-tab,
tabbrowser#tabmail .tabmail-tabs .tabmail-tab:hover,
tabbrowser#tabmail .tabmail-tabs .tabmail-tab[selected="true"],
tabbrowser#tabmail .tabmail-tabs .tabmail-tab[selected="true"]:hover {
  text-align: left;
  -moz-border-radius: 6px 0 0 6px;
  margin: 1px 0;
  -moz-border-top-colors: rgba(0, 0, 0, .08) rgba(0, 0, 0, .17) rgba(180, 180, 180, .29);
  -moz-border-right-colors: transparent;
  border-right-width: 0;
  opacity: 0.7;  /* a quick hack to make selected more visible */
}

tabbrowser#tabmail .tabmail-tabs .tabmail-tab[selected="true"],
tabbrowser#tabmail .tabmail-tabs .tabmail-tab[selected="true"]:hover {
  opacity: 1;
}

/* type folder is really the home tab */
tabbrowser#tabmail .tabmail-tabs .tabmail-tab[type="folder"],
tabbrowser#tabmail .tabmail-tabs .tabmail-tab[type="folder"]:hover,
tabbrowser#tabmail .tabmail-tabs .tabmail-tab[type="folder"][selected="true"],
tabbrowser#tabmail .tabmail-tabs .tabmail-tab[type="folder"][selected="true"]:hover{
  -moz-appearance: none !important;
  padding: 7px;
  margin: 0;
  -moz-border-radius: 0;
  -moz-border-radius-bottomleft: 6px;
  border-left: none;
  background-color: #fafafa;
  list-style-image: url("chrome://hometab/skin/home.png");
}

tabbrowser#tabmail .tabmail-tabs .tabmail-tab[type="folderList"] {
  list-style-image: url("chrome://hometab/skin/folder.png");
}

tabbrowser#tabmail .tabmail-tabs .tabmail-tab[type="messageList"] {
  list-style-image: url("chrome://hometab/skin/conversation.png");
}

tabbrowser#tabmail .tabmail-tabs .tabmail-tab[type="messageList"],
tabbrowser#tabmail .tabmail-tabs .tabmail-tab[type="messageList"]:hover,
tabbrowser#tabmail .tabmail-tabs .tabmail-tab[type="messageList"][selected="true"],
tabbrowser#tabmail .tabmail-tabs .tabmail-tab[type="messageList"][selected="true"]:hover {
  margin-left: 10px;
}
